body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

h1, h2, h3, h4 {
    text-align: center;
    color: #28a745;
}

#input-section {
    text-align: center;
    color: #28a745;
}

.player-input {
    margin: 10px 0;
    
}

.team {
    margin: 20px;
    text-align: center;
    color: #28a745;
}

.team-1 {
    border: 2px solid red;
}

.team-2 {
    border: 2px solid blue;
}
.bg{
    background-color: rgb(49, 49, 61);
    padding: 20px;
    border-radius: 20px;
    
}